.left_content{

    width: 50%;
    float: left;

    .header {
        color: #272C2E;
        font-size: 22px;
        margin: 0;
        line-height: 1.5;
    }

    .big_img{
        width : 100%;
        display: block;
    }

    .banner_text{
        font-size: 1.3em;
        color: #181818;
        margin: 0 0 0em 0;
        font-weight: 400;
        text-transform: uppercase;
    }

}


.reight_content{

}